@import "/css/theme.css";

footer {

    background-color: #393a5a;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    /* position:absolute; */
    left: 0;
    right: 0;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

footer.title {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
